* {
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}

body {
    background-color: aqua;
    text-align: center;
}

main {
    background-color: white;
    width: 800px;
    margin: auto;
    padding: 14px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.425);
}

.logo {
    width: 400px;
}